/* style.css */

/* ============================================ */
/* =============== BASIC STYLING ============== */
/* ============================================ */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1f0033;
}

header, main, footer {
    position: relative;
    z-index: 2; /* Ensure content appears above the gradient */
}

/* FADE IN EFFECT FOR NAV BAR*/
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.8s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* FADE IN EFFECT */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;

}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.delayed {
    transition-delay: 1000ms; /* Add a delay of 2 seconds */
}

@media(prefers-reduced-motion) {
    .delayed {
        transition: none;
    }
}

.delayed-chart1 {
    transition-delay: 2000ms; /* Add a delay of 2 seconds */
}

@media(prefers-reduced-motion) {
    .delayed-chart1 {
        transition: none;
    }
}



.show {
    opacity: 1;
    filter: blur(0);
}

/* TYPING EFFECT */

.typing-line {
    overflow: hidden;
    width: 0;
    display: inline-block;
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.5s ease; /* Add a smooth transition for opacity */
}

/* FLASHING EFFECT */

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.flash-once {
    animation: flash 1s ease-in-out 50000; /* Run the animation twice */
}

/* BACKGROUND GRADIENT CANVAS */

#gradient-canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    --gradient-color-1: #290033;
    --gradient-color-2: #1f0033;
    --gradient-color-3: #330033;
    --gradient-color-4: #330029;
    z-index: 0;
  }
  

/* ============================================ */
/* ============== NAVIGATION BAR ============== */
/* ============================================ */

/* Navigation Bar Properties & Hamburger Menu */

.navbar {
    background-color: rgba(0, 0, 0, 0); /* Adjust the background color and opacity */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 0px 0px; /* Adjust the top and bottom padding */
    position: fixed; /* Fixed positioning to stay at the top */
    width: 100%;
    z-index: 998; /* Ensure the navigation bar is above other content */
    transition: transform 0.3s ease;
    height: 75px; /* Set the desired height */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65%;
    margin: auto auto;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none; /* Initially hide the hamburger menu */
    cursor: pointer;
    align-items: center; /* Align items vertically */
    justify-content: center;
    margin: 0 5%;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide navigation links on mobile */
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center-align links */
        position: absolute; /* Position the menu absolutely */
        top: 60px; /* Adjust top position as needed */
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0); /* Background color for the mobile menu */
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 0px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .nav-links li {
        display: inline-block;
        margin-right: 0; /* Remove margin between navigation items */
        font-family: "Quicksand", monospace;
        text-align: center;
    }

    .nav-links.open {
        display: inline-block; /* Show navigation links when the hamburger menu is clicked */
        top: 75px;
        padding: 20px 0px;
        text-align: center;
    }

    .hamburger {
        display: block; /* Show the hamburger menu icon on mobile */
        position: absolute; /* Position the hamburger icon absolutely */
        top: 20px; /* Adjust top position as needed */
        right: 20px; /* Adjust right position as needed */
        cursor: pointer; /* Add cursor pointer */
        z-index: 999; /* Ensure the hamburger menu icon is above other content */
    }

}

.logo {
    display: flex; /* Make the logo a flex container */
    align-items: center; /* Align items vertically */
    font-family: 'Ysabeau SC', serif; /* Set font family */
    color: #ffffff; /* Set text color */
    font-weight: lighter; /* Adjust the font weight */
}

.logo img {
    width: 8%; /* Adjust the width of the logo image */
    margin-right: 10px; /* Add some spacing between the image and text */
}

.nav-links {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center; /* Vertically center the items */
}

.nav-links li {
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between navigation items */
}

.nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last navigation item */
}

.nav-links li a {
    color: #fff; /* Adjust the color of the navigation links */
    text-decoration: none;
    font-family: "Quicksand", monospace;
}

.nav-links li a:hover {
    text-decoration: underline; /* Add underline to text on hover */
    font-weight: bold; /* Make the text bold on hover */
    color: #fff; /* Change text color to white on hover */
    font-size: 1.1em; /* Increase font size on hover */
    transition: font-size 0.1s ease; /* Add a smooth transition effect */
}

/* Add space below the navigation bar */

.nav_bar_padding_space {
    padding-top: 10%; /* Default padding relative to the navigation bar height */

    /* Adjust padding for smaller screen sizes */
    @media screen and (max-width: 768px) {
        padding-top: 22%; /* Adjust the value as needed for smaller screens */
    }
}

/* ============================================ */
/* =============== HOME SECTION =============== */
/* ============================================ */

#home {
    /* Remove background and box-shadow */
    background: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.logo-section {
    /* Center-align the logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    /* Style the logo box */
    background-color: rgba(0, 0, 0, 0); /* Background color for the mobile menu */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2000px;
    padding: 5px;
}

.logo-box img {
    height: 120px;
}

.company-info {
    margin-bottom: 0px; /* Add margin to separate from other sections */
    color: white;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.company-info h3 {
    font-size: 350%; /* Adjust font size for the company name */
    margin-bottom: 0px; /* Add margin below the company name */
    margin-top: 0px;
    font-family: "Ysabeau SC", monospace;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.company-info p {
    font-size: 20px; /* Adjust font size for the motto */
    color: white; /* Example text color for the motto */
    margin-top: 0px; /* Add margin to separate from the company name */
    margin-bottom: 0px;
    font-family: "Alegreya Sans SC", monospace;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}

.company-info p2 {
    font-size: 18px; /* Adjust font size for the motto */
    color: white; /* Example text color for the motto */
    margin-top: 0px; /* Add margin to separate from the company name */
    margin-bottom: 0px;
    font-family: "Ubuntu Sans", monospace;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}

.company-info p3 {
    font-size: 16px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Quicksand", monospace;
    font-weight: lighter;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word; /* Allow text to wrap to the next line */
}

.typing-container {
    width: 500px; /* Set the desired width */
    height: 250px; /* Set the desired height */
}

@media screen and (max-width: 768px) {

    .typing-container {
        width: 300px; /* Set the desired width */
        height: 250px; /* Set the desired height */
    }

}

/* Style the button */
#scroll-to-services {
    background-color: rgba(0, 0, 0, 0); /* Background color for the mobile menu */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 16px; /* Font size */
    font-family: "Quicksand", monospace;
    margin-top: 2%; /* Add margin to push the button down */
    transition: opacity 1s ease; /* Smooth transition for opacity */
    opacity: 0;
}

/* Hover effect for Button */
#scroll-to-services:hover {
    background-color: #1f0033; /* Darker purp on hover */
}

/* ============================================ */
/* ============= SERVICES SECTION ============= */
/* ============================================ */

#our_services {
    background: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}


.services_header {
    margin-bottom: 20px; /* Add margin to separate from other sections */
    color: white;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.services_header h1 {
    font-size: 350%; /* Adjust font size for the company name */
    margin-bottom: 10px; /* Add margin below the company name */
    margin-top: 0px;
    font-family: "Quicksand", monospace;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.services_header h2 {
    font-size: 200%; /* Adjust font size for the company name */
    margin-bottom: 10px; /* Add margin below the company name */
    margin-top: 50px;
    font-family: "Quicksand", monospace;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content-container-large {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Distribute items evenly along the main axis */
    align-items: center; /* Center align items vertically */
    justify-content: center;
    flex-direction: column; /* Align items vertically */
}

.content-container {
    margin-top: 1%;
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Distribute items evenly along the main axis */
    align-items: center; /* Center align items vertically */
    justify-content: center;
}

.chart-container {
    width: 45%; /* Adjust width as needed */
    margin-right: 50px; /* Add margin between chart and text */
    justify-content: center; /* Distribute items evenly along the main axis */
    align-items: center; /* Center align items vertically */
    justify-content: center;
    display: flex;
}

.chart-text-container {
    width: 45%; /* Adjust width as needed */
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative; /* Ensure relative positioning for the cursor */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.chart-text {
    font-size: 16px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Quicksand", monospace;
    font-weight: lighter;
    position: relative; /* Ensure relative positioning for the cursor */
    justify-content: center;
    text-align: center;
    align-items: center;
    display: relative;
}

.chart-header {
    font-size: 30px;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Ubuntu Sans", monospace;
    font-weight: bolder;
    position: relative; /* Ensure relative positioning for the cursor */
    justify-content: center;
    text-align: center;
    align-items: center;
    display: relative;
}


@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
        /* Change to column layout on smaller screens */
    }

    .chart-container {
        width: 100%;
        /* Set full width on smaller screens */
        margin: 0;
        /* Remove margin on smaller screens */
    }
}

/* ============================================ */
/* ============= CONTACT SECTION ============= */
/* ============================================ */

#contact {
    background: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline for the link */
}

a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

.contact-box {
    /* Style the logo box */
    background-color: rgba(0, 0, 0, 0); /* Background color for the mobile menu */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-box-text {
    font-size: 16px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Quicksand', monospace;
}
